## Pandas Library :
#### -- Pandas is python library used for work
#### -- it has functions for anlysing,cleaning, exploring and manipulating the data
#### -- "Pandas" stands for python-datascience . it s full form is "panel data" and "python data analysis"
#### -- it was created by Wes Mckinney in 2008.
#### -- pandas allows us to analyze big data and make conclusions based on statistical theories.
#### -- pandas can clean messy datasets and make them readable and relevent.
#### -- relevent data is very important in data engineering. 

## Advantages of using Pandas :
#### -- Fast and efficient for manipulating and analyzing the data.
#### -- data from differnt objects can be loaded .
#### -- easy handling of missing data .
#### -- size mutability.
#### -- data merging and joining.
#### -- Flexible reshaping of data.

## Data types :
--

In [5]:
import pandas as pd

In [27]:
df = pd.read_csv("C:\\Users\\MAYBORG\\Downloads\\archive\Highest Holywood Grossing Movies.csv")
df

,Unnamed: 0,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
3,3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN
4,4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,NaN
...,...,...,...,...,...,...,...,...,...,...,...
913,913,The Notebook (2004),A poor yet passionate young man falls in love ...,New Line Cinema,"June 25, 2004",81001787,36813370,117815157,"['Drama', 'Romance']",2 hr 3 min,PG-13
914,914,Jimmy Neutron: Boy Genius (2001),An eight-year-old boy genius and his friends m...,Paramount Pictures,"December 21, 2001",80936232,22056304,102992536,"['Action', 'Adventure', 'Animation', 'Comedy',...",1 hr 22 min,NaN
915,915,Eat Pray Love (2010),A married woman realizes how unhappy her marri...,Sony Pictures Entertainment (SPE),"August 13, 2010",80574010,124020006,204594016,"['Biography', 'Drama', 'Romance']",2 hr 13 min,PG-13
916,916,The Texas Chainsaw Massacre (2003),After picking up a traumatized young hitchhike...,New Line Cinema,"October 17, 2003",80571655,26792250,107363905,"['Crime', 'Horror']",1 hr 38 min,R
917,917,Zookeeper (2011),A group of zoo animals decide to break their c...,Sony Pictures Entertainment (SPE),"July 6, 2011",80360843,89491916,169852759,"['Comedy', 'Family', 'Fantasy', 'Romance']",1 hr 42 min,PG

In [29]:
df1 = df[["Title","Release Date","World Sales (in $)","Genre"]][0:20]
df1

,Title,Release Date,World Sales (in $),Genre
0,Star Wars: Episode VII - The Force Awakens (2015),"December 16, 2015",2069521700,"['Action', 'Adventure', 'Sci-Fi']"
1,Avengers: Endgame (2019),"April 24, 2019",2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']"
2,Avatar (2009),"December 16, 2009",2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']"
3,Black Panther (2018),NaN,1347597973,"['Action', 'Adventure', 'Sci-Fi']"
4,Avengers: Infinity War (2018),NaN,2048359754,"['Action', 'Adventure', 'Sci-Fi']"
5,Spider-Man: No Way Home (2021),NaN,1544455963,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']"
6,Titanic (1997),"December 19, 1997",2201647264,"['Drama', 'Romance']"
7,Jurassic World (2015),"June 10, 2015",1670516444,"['Action', 'Adventure', 'Sci-Fi']"
8,The Avengers (2012),"April 25, 2012",1518815515,"['Action', 'Adventure', 'Sci-Fi']"
9,Star Wars: Episode VIII - The Last Jedi (2017),"December 13, 2017",1332698830,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']"
10,Incredibles 2 (2018),NaN,1243089244,"['Action', 'Adventure', 'Animation', 'Comedy',..."
11,The Lion King (2019),"July 11, 2019",1662899439,"['Adventure', 'Animation', 'Drama', 'Family', ..."
12,The Dark Knight (2008),"July 16, 2008",1005973645,"['Action', 'Crime', 'Drama', 'Thriller']"
13,Rogue One: A Star Wars Story (2016),"December 14, 2016",1056057720,"['Action', 'Adventure', 'Sci-Fi']"
14,Star Wars: Episode IX - The Rise of Skywalker ...,"December 18, 2019",1074149279,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']"
15,Beauty and the Beast (2017),"March 16, 2017",1273576220,"['Adventure', 'Family', 'Fantasy', 'Musical', ..."
16,Finding Dory (2016),NaN,1028570942,"['Adventure', 'Animation', 'Comedy', 'Family']"
17,Frozen II (2019),"November 20, 2019",1450026933,"['Adventure', 'Animation', 'Comedy', 'Family',..."
18,Star Wars: Episode I - The Phantom Menace (1999),"May 19, 1999",1027082707,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']"
19,Star Wars: Episode IV - A New Hope (1977),"May 25, 1977",775398007,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']"